<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Movie length</th>
      <th>Director</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.movie_length %></td>
        <td><%= movie.director %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.year %></td>
        <td><%= image_tag movie.image.url(:thumb) %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <h3>Add a new movie</h3>
  <%= link_to 'New Movie', new_movie_path, class: 'btn btn-default' %>
</div>

<div>
  <h3>Import Movies</h3>
  <%= form_tag import_movies_path, multipart: true do %>
    <%= file_field_tag :file %><br/> 
    <%= submit_tag "Upload movies", class: 'btn btn-default' %>
  <% end %>
</div>

<div>
  <h3>Download Movies</h3>
  <%= link_to "Download", movies_path(format: "csv"), class: 'btn btn-default' %>
</div>