<div class="row">
  <div class="col-sm-6 center">
    <%= image_tag @movie.image_url.to_s %>
    
  </div>
  <div class="col-sm-6">
    <table class="table table-responsive">
      <thead>
        <h5><%= @movie.title %></h5>
      </thead>
      <tbody>
        <tr>
          <td><strong>Description:</strong></td>
          <td><%= @movie.description %></td> 
        </tr>
        <tr>
          <td><strong>Movie Length:</strong></td>
          <td><%= @movie.movie_length %></td> 
        </tr>
        <tr>
          <td><strong>Director:</strong></td>
          <td><%= @movie.director %></td> 
        </tr>
        <tr>
          <td><strong>Rating:</strong></td>
          <td><%= @movie.rating %></td> 
        </tr>
        <tr>
          <td><strong>Year:</strong></td>
          <td><%= @movie.year %></td> 
        </tr>
      </tbody>
    </table>
    <p>
      <% if current_user && current_user.admin? %>
        <%= link_to 'Edit Movie', edit_movie_path(@movie) %> | 
        <%= link_to 'Delete Movie', @movie, method: :delete, confirm: "Are you sure you want to delete this movie?" %>
      <% end %>
    </p>
  </div>
</div>

<hr />

<h3 class="center">AWKWARDMETER</h3>
  <div class="row">
      <div class="col-sm-6 center mid-line">
        <div class="percentage">
        </div>
        <p>Said this movie was an awkward-watch</p>
        <p><%= @movie.get_upvotes.size %> Said awkward</em></p>
      </div>
      <div class="col-sm-6 center">
        <div class="percentage">
        </div>
        <p>Said this movie was totally fine</p>
        <p><%= @movie.get_downvotes.size %> Said not awkward</em></p>
      </div>
  </div>
<hr />

<h3 class="center">YOUR TURN</h3>
<p class="center">Would you watch this movie with your parents?</p>
  <div class="row">
      <div class="col-sm-6 center mid-line">
        <%= link_to like_movie_path(@movie), method: :get do %>
          <%= image_tag("awkward-face.png", class: "home-img", :alt => "awkward-face") %>
          <p>Nope, too awkward</p>
        <% end %>
      </div>
      <div class="col-sm-6 center">
        <%= link_to dislike_movie_path(@movie), method: :get do %>
          <%= image_tag("happy-face.png", class: "home-img", :alt => "awkward-face") %>
          <p>Yep, it's totally fine</p>
        <% end %>
      </div>
    </div>

<hr />

<h3 class="center">COMMENTS</h3>
  <div class="comments">
  <% if @comments.blank? %>
    <h3>No comments just yet, would you like to add the first?</h3>
    <%= link_to "Write Comment", new_movie_comment_path(@movie), class: "btn btn-danger" %>
  <% else %>
    <% @movie.comments.each do |comment| %> 
      <p>"<%= comment.comment %>"</p>
      <p class="commenter">- <%= comment.user.name %></p>
        <% if @movie.user == current_user %>
          <%= link_to "Delete", [@movie, comment], method: :delete, confirm: "Are you sure you want to delete this comment?" %>
        <% end %>
      <hr />
    <% end %>
  <% end %>
  <%= link_to "Add Comment", new_movie_comment_path(@movie), class: 'pull-right' %>
</div>